In [12]:
import kagglehub
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import shutil

In [ ]:
# è¯»å–æ•°æ®
dirty_path = "dirty_cafe_sales.csv"
clean_path = "clean_cafe_sales.csv"

shutil.copyfile(dirty_path, clean_path)

dirty_df = pd.read_csv(dirty_path)
clean_df = pd.read_csv(clean_path)

dirty_df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [16]:
clean_df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [31]:
duplicate_ids = clean_df[clean_df['Transaction ID'].duplicated(keep=False)]

if not duplicate_ids.empty:
    print("âš ï¸ æ£€æµ‹åˆ°é‡å¤çš„ Transaction IDï¼š")
    print(duplicate_ids[['Transaction ID', 'Item', 'Total Spent']])
    
    # åˆ é™¤é‡å¤çš„ Transaction IDï¼Œåªä¿ç•™ç¬¬ä¸€æ¬¡å‡ºç°çš„è®°å½•
    data = clean_df.drop_duplicates(subset=['Transaction ID'], keep='first')
    print(f"âœ… å·²åˆ é™¤é‡å¤ Transaction IDï¼Œå…±åˆ é™¤ {duplicate_ids['Transaction ID'].nunique()} æ¡ã€‚")
else:
    print("âœ… æ²¡æœ‰å‘ç°é‡å¤çš„ Transaction IDã€‚")

âœ… æ²¡æœ‰å‘ç°é‡å¤çš„ Transaction IDã€‚

In [27]:
def check_data_quality(df):
    """
    æ£€æŸ¥ DataFrame å„åˆ—ä¸­ 'UNKNOWN'ã€'ERROR' å’Œ NaN çš„æ•°é‡ã€‚
    """
    keywords = ["UNKNOWN", "ERROR"]
    result = {}

    for col in df.columns:
        # è½¬æ¢ä¸ºå­—ç¬¦ä¸²ä»¥ä¾¿åŒ¹é…
        col_str = df[col].astype(str).str.upper()
        result[col] = {
            "UNKNOWN": col_str.str.contains("UNKNOWN").sum(),
            "ERROR": col_str.str.contains("ERROR").sum(),
            "NaN": df[col].isna().sum()
        }

    # æ‰“å°ç»“æœ
    print("ğŸ“Š æ•°æ®è´¨é‡æ£€æŸ¥æŠ¥å‘Š")
    print("-" * 50)
    for col, counts in result.items():
        print(f"{col:20s} | UNKNOWN: {counts['UNKNOWN']:3d} | ERROR: {counts['ERROR']:3d} | NaN: {counts['NaN']:3d}")
    print("-" * 50)

In [28]:
check_data_quality(dirty_df)

ğŸ“Š æ•°æ®è´¨é‡æ£€æŸ¥æŠ¥å‘Š
--------------------------------------------------
Transaction ID       | UNKNOWN:   0 | ERROR:   0 | NaN:   0
Item                 | UNKNOWN: 344 | ERROR: 292 | NaN: 333
Quantity             | UNKNOWN: 171 | ERROR: 170 | NaN: 138
Price Per Unit       | UNKNOWN: 164 | ERROR: 190 | NaN: 179
Total Spent          | UNKNOWN: 165 | ERROR: 164 | NaN: 173
Payment Method       | UNKNOWN: 293 | ERROR: 306 | NaN: 2579
Location             | UNKNOWN: 338 | ERROR: 358 | NaN: 3265
Transaction Date     | UNKNOWN: 159 | ERROR: 142 | NaN: 159
--------------------------------------------------

In [29]:
# å°† Total Spent ä¸­çš„ ERROR æ›¿æ¢ä¸º NaN
clean_df['Total Spent'] = pd.to_numeric(clean_df['Total Spent'], errors='coerce')
clean_df['Quantity'] = pd.to_numeric(clean_df['Quantity'], errors='coerce')
clean_df['Price Per Unit'] = pd.to_numeric(clean_df['Price Per Unit'], errors='coerce')



# ä¿®å¤ Total Spent = NaN çš„å€¼
clean_df['Total Spent'] = clean_df['Total Spent'].fillna(clean_df['Quantity'] * clean_df['Price Per Unit'])

In [30]:
check_data_quality(clean_df)

ğŸ“Š æ•°æ®è´¨é‡æ£€æŸ¥æŠ¥å‘Š
--------------------------------------------------
Transaction ID       | UNKNOWN:   0 | ERROR:   0 | NaN:   0
Item                 | UNKNOWN: 344 | ERROR: 292 | NaN: 333
Quantity             | UNKNOWN:   0 | ERROR:   0 | NaN: 479
Price Per Unit       | UNKNOWN:   0 | ERROR:   0 | NaN: 533
Total Spent          | UNKNOWN:   0 | ERROR:   0 | NaN:  40
Payment Method       | UNKNOWN: 293 | ERROR: 306 | NaN: 2579
Location             | UNKNOWN: 338 | ERROR: 358 | NaN: 3265
Transaction Date     | UNKNOWN: 159 | ERROR: 142 | NaN: 159
--------------------------------------------------

In [38]:
import pandas as pd

# å‡è®¾ data æ˜¯ä½ çš„ DataFrame
# ç¡®ä¿åˆ—æ˜¯æ­£ç¡®çš„ç±»å‹
clean_df['Price Per Unit'] = pd.to_numeric(clean_df['Price Per Unit'], errors='coerce')

# 1ï¸âƒ£ æ£€æŸ¥æ¯ä¸ªå•†å“çš„å”¯ä¸€å•ä»·æ•°é‡
price_variation = clean_df.groupby('Item')['Price Per Unit'].nunique().reset_index()
price_variation.columns = ['Item', 'Unique_Price_Count']

# 2ï¸âƒ£ æ‰¾å‡ºå­˜åœ¨å¤šä¸ªå•ä»·çš„å•†å“
price_changed_items = price_variation[price_variation['Unique_Price_Count'] > 1]

print("ğŸ§¾ æ¯ä¸ªå•†å“çš„å•ä»·å˜åŒ–æƒ…å†µï¼š")
print(price_variation)

print("\nâš ï¸ ä»¥ä¸‹å•†å“å­˜åœ¨å•ä»·ä¸ä¸€è‡´ï¼š")
print(price_changed_items)

item_prices = clean_df.groupby('Item')['Price Per Unit'].unique().reset_index()
print(item_prices)

ğŸ§¾ æ¯ä¸ªå•†å“çš„å•ä»·å˜åŒ–æƒ…å†µï¼š
       Item  Unique_Price_Count
0      Cake                   1
1    Coffee                   1
2    Cookie                   1
3     ERROR                   6
4     Juice                   1
5     Salad                   1
6  Sandwich                   1
7  Smoothie                   1
8       Tea                   1
9   UNKNOWN                   6

âš ï¸ ä»¥ä¸‹å•†å“å­˜åœ¨å•ä»·ä¸ä¸€è‡´ï¼š
      Item  Unique_Price_Count
3    ERROR                   6
9  UNKNOWN                   6
       Item                       Price Per Unit
0      Cake                           [3.0, nan]
1    Coffee                           [2.0, nan]
2    Cookie                           [1.0, nan]
3     ERROR  [1.5, 3.0, 5.0, nan, 4.0, 2.0, 1.0]
4     Juice                           [3.0, nan]
5     Salad                           [5.0, nan]
6  Sandwich                           [4.0, nan]
7  Smoothie                           [4.0, nan]
8       Tea                           [1.5, nan]
9   UNKNOWN  [3.0, 1.0, 5.0, 4.0, 1.5, 2.0, nan]

In [45]:
valid_items = clean_df[~clean_df['Item'].isin(['UNKNOWN', 'ERROR'])]  # æ’é™¤å¼‚å¸¸Item
item_price_map = valid_items.groupby('Item')['Price Per Unit'].first().to_dict()


# æŸ¥çœ‹å­—å…¸å†…å®¹
print("Item å¯¹åº”ä»·æ ¼å­—å…¸ï¼š")
print(item_price_map)

Item å¯¹åº”ä»·æ ¼å­—å…¸ï¼š
{'Cake': 3.0, 'Coffee': 2.0, 'Cookie': 1.0, 'Juice': 3.0, 'Salad': 5.0, 'Sandwich': 4.0, 'Smoothie': 4.0, 'Tea': 1.5}

In [46]:
def fill_price_per_unit(df, item_col='Item', price_col='Price Per Unit', skip_items=None, method='first'):
    """
    é€šç”¨å‡½æ•°ï¼šæŒ‰ Item å¡«å…… Price Per Unit çš„ NaN å€¼ï¼Œè·³è¿‡æŒ‡å®šçš„å¼‚å¸¸ Itemã€‚

    å‚æ•°ï¼š
    df : pd.DataFrame - æ•°æ®é›†
    item_col : str - å•†å“åˆ—å
    price_col : str - å•ä»·åˆ—å
    skip_items : list - ä¸è¿›è¡Œå¡«å……çš„å¼‚å¸¸å•†å“åˆ—è¡¨ï¼Œé»˜è®¤ ['UNKNOWN','ERROR']
    method : str - å‚è€ƒä»·æ ¼è·å–æ–¹æ³•ï¼Œ'first' æˆ– 'mean'

    è¿”å›ï¼š
    df : pd.DataFrame - å¡«å……åçš„æ•°æ®é›†
    """
    if skip_items is None:
        skip_items = ['UNKNOWN', 'ERROR']

    # ç¡®ä¿ä»·æ ¼åˆ—ä¸ºæ•°å€¼å‹
    df[price_col] = pd.to_numeric(df[price_col], errors='coerce')

    # ç”Ÿæˆå‚è€ƒä»·æ ¼ï¼Œåªä½¿ç”¨æ­£å¸¸å•†å“
    valid_items = df[~df[item_col].isin(skip_items)]
    if method == 'first':
        item_price_map = valid_items.groupby(item_col)[price_col].first().to_dict()
    elif method == 'mean':
        item_price_map = valid_items.groupby(item_col)[price_col].mean().to_dict()
    else:
        raise ValueError("method å‚æ•°å¿…é¡»æ˜¯ 'first' æˆ– 'mean'")

    # å®šä¹‰å¡«å……å‡½æ•°
    def fill_price(row):
        if pd.isna(row[price_col]) and row[item_col] not in skip_items:
            return item_price_map.get(row[item_col], np.nan)
        else:
            return row[price_col]

    # æ‰§è¡Œå¡«å……
    df[price_col] = df.apply(fill_price, axis=1)
    return df

In [48]:
# å‡è®¾ data æ˜¯ä½ çš„ DataFrame
fill_price_per_unit(clean_df, item_col='Item', price_col='Price Per Unit', skip_items=['UNKNOWN','ERROR'], method='first')

# æŸ¥çœ‹ç»“æœ
print("å¡«å……å Price Per Unit ä¸­çš„ç¼ºå¤±å€¼æ•°é‡:", clean_df['Price Per Unit'].isna().sum())
print(clean_df.head(10))

å¡«å……å Price Per Unit ä¸­çš„ç¼ºå¤±å€¼æ•°é‡: 54
  Transaction ID      Item  Quantity  Price Per Unit  Total Spent  \
0    TXN_1961373    Coffee       2.0             2.0          4.0
1    TXN_4977031      Cake       4.0             3.0         12.0
2    TXN_4271903    Cookie       4.0             1.0          4.0
3    TXN_7034554     Salad       2.0             5.0         10.0
4    TXN_3160411    Coffee       2.0             2.0          4.0
5    TXN_2602893  Smoothie       5.0             4.0         20.0
6    TXN_4433211   UNKNOWN       3.0             3.0          9.0
7    TXN_6699534  Sandwich       4.0             4.0         16.0
8    TXN_4717867       NaN       5.0             3.0         15.0
9    TXN_2064365  Sandwich       5.0             4.0         20.0

   Payment Method  Location Transaction Date
0     Credit Card  Takeaway       2023-09-08
1            Cash  In-store       2023-05-16
2     Credit Card  In-store       2023-07-19
3         UNKNOWN   UNKNOWN       2023-04-27
4  Digital Wallet  In-store       2023-06-11
5     Credit Card       NaN       2023-03-31
6           ERROR  Takeaway       2023-10-06
7            Cash   UNKNOWN       2023-10-28
8             NaN  Takeaway       2023-07-28
9             NaN  In-store       2023-12-31